/* PatientPage.css */


.patient-page {
    background-color: #87CEEB; /* Set the desired background color */
    padding: 0px;
    color: #fff; /* Set the text color */
    /* Add any additional styling as needed */
  }
  